@{
    ViewData["Title"] = "Animal Shelter";
    Layout = "_Layout";

}

<h1>Animal Shelter</h1>
<form action="/animals" method="post">
    <div class="form-group">
        <input name="name" type="text" placeholder="Enter name here" required>
        <input name="species" type="text" placeholder="Enter species here" required>
        <input name="date" type="date" placeholder="Enter date here" required>
        <select name="gender">
            <option value="" disabled selected hidden>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</form>

<div class="theTable">
    <div class="heading">Name</div>
    <div class="heading">Species</div>
    <div class="heading">Date</div>
    <div class="heading">Gender</div>
    <div class="heading">Delete</div>

    @if (Model.Count == 0)
    {
    }
    else
    {
        foreach(var animal in Model)
        {
            <div class="cell">@animal.Name</div>
            <div class="cell">@animal.Species</div>
            <div class="cell">@animal.Date</div>
            <div class="cell">@animal.Gender</div>
            <div class="cell">
                <form action="/animals/delete/@animal.Id" method="post">
                    <button type="submit" class="btn btn-danger">Delete Entry</button>
                </form>
            </div>
        }
    }

    <form action="/delete" method="post">
        <button type="submit" class="btn btn-danger">Delete All Entries</button>
    </form>

</div>
